<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style class="styl"></style>
	<title>Edit Details</title>

</head>


<body background="">

<div th:replace="navbar" class="container"></div>

		
	<!--start body-->
	<div class="card" style="background-color: antiquewhite;">
		<div class="card-body">

			<center>
				<form th:action="@{/cctns/update}" method="post" th:Object="${eupdate}">

					<div class="col-3">
						<label for="inputName">Employees Id</label>
						<input type="text" class="form-control" th:field="*{eId}" value="" size=""
							placeholder="Update Name" readonly="true"><br>
					</div>

					<div class="col-3">
						<label for="inputName">Name</label>
						<input type="text" class="form-control" th:field="*{eName}" value="" size=""
							placeholder="Update Name"><br>
					</div>

					<div class="col-3">
						<label for="inputName">Constable_Id</label>
						<input type="text" th:field="*{constable_Id}" class="form-control" size=""
							placeholder="Update Id"><br>
					</div>
					<div class="col-3">
						<label for="inputName">Designation</label>
						<input type="text" class="form-control" th:field="*{edesignation}" value="" size=""
							placeholder="Designation"><br><br>
					</div>
					<input type="submit" value="Submit" class="btn-btn-success">
				</form>
			</center>

		</div>

	</div><!--End body-->

	<!--footer start-->
	<div th:if="${updatemessage!=null}">

		<div class="class" style="background-color: aquamarine; color: blue;text-align:center;">

			<!--<h1>This is Footer Part</h1>-->
			<b><span th:text="${updatemessage}"></span></b>


		</div>
	</div>
	<!--End start-->

</body>

</html>