<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Leave Details</title>
</head>

<body style="background-color: antiquewhite;">


	<nav class="navbar navbar-expand-lg navbar-light bg-success"> <!--Start Nav Bar-->

		<!--<a class="navbar-brand" href="#">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>-->


		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{http://localhost:5487/cctns/reg}" target="">Add_Employee</a>
				</li>
				<li class="nav-item">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{http://localhost:5487/cctns/showallrecords}" target="">Emp
						Records</a>
				</li>
				</li>
				<li class="nav-item">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{http://localhost:5487/cctns/rostersheet}" target="">Roster Sheet</a>
				</li>
				</li>

				<li class="nav-item">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{http://localhost:5487/cctns/leavedetails}" target=""> Leave Dashboard</a>
				</li>
				</li>
				
				
				<!--below line commented by tushar-->
				<!--
				<li class="nav-item">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{http://localhost:5487/cctns/leave}" target=""> Apply Leave</a>
				</li>
				</li>
				-->
				<!--till here-->

				<!--<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown link
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>-->


			</ul>
		</div>
	</nav> <!--End Nav Bar-->
